/* Color defines for the sidebar and article css */

$color-background: #FFFFFF;

$color-link: #2D3335;

$color-link-visited: #2D3335;

$color-text: #2D3335;

$color-text-light: #586468;

$color-text-error: #A40000;

$color-blue-background: #E3EFFC;

$color-blue-border: #77A6D8;

$color-gray-background: #F4F4F4;

$color-dark-background: #EAEAEA;

$color-gray-border: #CACACA;

$color-red-background: #FCDCDC;

$color-red-border: #F22929;

$color-yellow-background: #FCFCBD;

$color-yellow-border: #F0F000;
