/* Icon defines for the sidebar and article css  */

$icons-size-note: 24px;

$icons-size-quote: 48px;

$icons-note: 'yelp-note.png';

$icons-note-bug: 'yelp-note-bug.png';

$icons-note-important: 'yelp-note-important.png';

$icons-note-tip: 'yelp-note-tip.png';

$icons-note-warning: 'yelp-note-warning.png';
