@import 'color';
@import 'icons';

/*=== Styling for article padding and wrapping to work with sidebar ===*/
html,
body {
    font-family: 'latoregular', sans-serif;
    font-size: 16px;
    height: 100%;
    min-height: 200px;
    min-width: 40em;
}

div.page {
    width: auto;
    max-width: none;
    height: 100%;
    overflow: auto;
    padding: 2rem 4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*=== Styling for the tutorial and video links on the home page ===*/
#endless-tutorial a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    background: url(../img/play.png) left no-repeat;
    font-weight: 600;
    font-size: 1.5em;
    display: inline-block;
}

#endless-tutorial a:hover {
    border: 0;
    color: #2d6698;
}

#home-video-links tr * {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

/* Style the "More" link in the top row to look a bit bigger */
#home-video-links tr:first-child a {
    font-size: 1.2em;
}

#home-video-links a:hover {
    color: #2d6698;
}

#home-video-links img {
    width: 100%;
    min-width: 10rem;
}

/*=== This was taken from html.css.core in yelp-xsl ===*/
body {
  margin: 0; padding: 0;
  background-color: $color-background;
  color: $color-text;
  direction: ltr;
}

div.page {
  border: solid 1px $color-gray-border;
}

div.body {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  min-height: 20em;
  background-color: $color-background;
}

div.header { margin: 0; }

div.footer { margin: 0; }

div.sect {
  margin-top: 2.4em;
  clear: both;
}

div.sect div.sect {
  margin-top: 1.44em;
  margin-left: 1.72em;
}

div.trails {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  background-color: $color-gray-background;
}

div.trail {
  margin: 0.2em 0 0 0;
  padding: 0 1em 0 1em;
  text-indent: -1em;
  color: $color-text-light;
}

a.trail { white-space: nowrap; }

div.hgroup {
  margin: 1em 0 0.5em 0;
  color: $color-text-light;
}

div.sect div.hgroup {
  margin-top: 0;
  border-bottom: solid 1px $color-gray-border;
}

div.sect-links div.hgroup {
  border-bottom: solid 2px $color-blue-border;
}

div.sect div.sect-links {
  margin-left: 0;
}

div.sect div.sect-links div.hgroup {
  border: none;
}

h1, h2, h3, h4, h5, h6, h7 {
  margin: 0; padding: 0;
  color: $color-text-light;
  font-weight: bold;
}

h1 { font-size: 2em; }

h2 { font-size: 1.44em; }

h3.title, h4.title, h5.title, h6.title, h7.title { font-size: 1.2em; }

h3, h4, h5, h6, h7 { font-size: 1em; }

p { line-height: 1.72em; }

div, pre, p { margin: 1em 0 0 0; padding: 0; }

div.contents > *:first-child,
th > *:first-child, td > *:first-child,
dt > *:first-child, dd > *:first-child,
li > *:first-child { margin-top: 0; }

div.inner, div.region, div.contents, pre.contents { margin-top: 0; }

pre.contents div { margin-top: 0 !important; }

p img { vertical-align: middle; }

p.lead { font-size: 1.2em; }

div.clear {
  margin: 0; padding: 0;
  height: 0; line-height: 0;
  clear: both;
}

.center { text-align: center; }

div.about {
  color: $color-text-light;
}

div.about > div.inner > div.hgroup {
  margin: 0; padding: 0;
  text-align: center;
  border: none;
}

div.about > div.inner > div.hgroup > h2 {
  margin: 0; padding: 0.2em;
  font-size: inherit;
}

div.about.ui-expander > div.inner > div.hgroup span.title:before {
  content: "";
}

div.copyrights {
  margin: 1em;
  text-align: center;
}

div.copyright {
  margin: 0;
}

div.aboutblurb {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  max-width: 18em;
  margin: 0 1em 1em 1em;
}

ul.credits, ul.credits li {
  margin: 0; padding: 0;
  list-style-type: none;
}

ul.credits li {
  margin-left: 1em;
  text-indent: -1em;
}

table {
  border-collapse: collapse;
  border-color: $color-text-light;
  border-width: 1px;
}

td, th {
  padding: 0.5em;
  vertical-align: top;
  border-color: $color-text-light;
  border-width: 1px;
}

thead td, thead th, tfoot td, tfoot th {
  font-weight: bold;
  color: $color-text-light;
  background-color: $color-dark-background;
}

th {
  text-align: left;
  font-weight: bold;
  color: $color-text-light;
}

ul, ol, dl { margin: 0; padding: 0; }

li {
  margin: 1em 0 0 0;
  margin-left: 2.4em;
  padding: 0;
}

li:first-child { margin-top: 0; }

dt { margin-top: 1em; }

dt:first-child { margin-top: 0; }

dt + dt { margin-top: 0; }

dd {
  margin: 0.2em 0 0 0;
  margin-left: 1.44em;
}

dd + dd { margin-top: 1em; }

ol.compact li { margin-top: 0.2em; }

ul.compact li { margin-top: 0.2em; }

ol.compact li:first-child { margin-top: 0; }

ul.compact li:first-child { margin-top: 0; }

dl.compact dt { margin-top: 0.2em; }

dl.compact dt:first-child { margin-top: 0; }

dl.compact dt + dt { margin-top: 0; }

a {
  text-decoration: none;
  color: $color-link;
}

a:visited { color: $color-link-visited; }

a:hover {
  border-bottom: dotted 1px $color-blue-border;
}

p a {
  border-bottom: dotted 1px $color-blue-border;
}

a img { border: none; }

@media only screen and (max-width: 400px) {
  div.page {
    margin: 0;
    border: none;
  }

  div.body {
    padding-left: 0;
    padding-right: 0;
  }

  div.body > div.hgroup,
  div.body > div.region > div.contents > *,
  div.body > div.region > div.sect > div.inner > div.hgroup > *,
  div.body > div.region > div.sect > div.inner > div.region > div.contents > * {
    margin-left: 12px;
    margin-right: 12px;
  }

  div.body > div.region > div.sect-links {
    margin-left: 0;
    margin-right: 0;
  }

  div.trails {
    padding: 12px;
  }

  li {
    margin-left: 1.44em;
  }
}

/*=== This was taken from html.css.elements in yelp-xsl ===*/
div.title {
  margin: 0 0 0.2em 0;
  font-weight: bold;
  color: $color-text-light;
}

div.title h1, div.title h2, div.title h3, div.title h4, div.title h5, div.title h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

div.desc { margin: 0 0 0.2em 0; }

div.contents + div.desc { margin: 0.2em 0 0 0; }

pre.contents {
  padding: 0.5em 1em 0.5em 1em;
}

div.links-center { text-align: center; }

div.links .desc { color: $color-text-light; }

div.links > div.inner > div.region > div.desc { font-style: italic; }

div.links ul { margin: 0; padding: 0; }

div.links ul ul {
  margin-left: 1em;
}

li.links {
  margin: 0.5em 0 0.5em 0;
  padding: 0;
  padding-left: 1em;
  list-style-type: none;
}

div.sectionlinks {
  display: inline-block;
  padding: 0 1em 0 1em;
  background-color: $color-blue-background;
  border: solid 1px $color-blue-border;
}

div.sectionlinks ul { margin: 0; }

div.sectionlinks li { padding: 0; }

div.sectionlinks div.title { margin: 0.5em 0 0.5em 0; }

div.sectionlinks div.sectionlinks {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0;
  border: none;
}

div.sectionlinks div.sectionlinks li {
  padding-left: 1.44em;
}

div.nextlinks {
  font-size: 1.2em;
  margin-left: 1.2em;
  float: right;
  clear: both;
}

div.nextlinks a {
  background-color: $color-gray-background;
  display: inline-block;
  position: relative;
  height: 1.44em;
  padding: 0.2em 0.83em;
  margin-bottom: 1em;
}

a.nextlinks-prev { margin-left: 0.72em; }

a.nextlinks-next { margin-right: 0.72em; }

a.nextlinks-prev:after, a.nextlinks-next:after {
  border: solid transparent;
  content: " ";
  position: absolute;
  height: 0; width: 0;
  border-width: 0.92em;
  top: 50%;
  margin-top: -0.92em;
}

a.nextlinks-prev:after {
  right: 100%;
  border-right-color: $color-gray-background;
}

a.nextlinks-next:after {
  left: 100%;
  border-left-color: $color-gray-background;
}

div.nextlinks a:hover {
border: none;
  background: $color-blue-background
}

a.nextlinks-prev:hover:after {
  border-right-color: $color-blue-background
}

a.nextlinks-next:hover:after {
  border-left-color: $color-blue-background
}

div.serieslinks {
  display: inline-block;
  padding: 0 1em 0 1em;
  background-color: $color-blue-background;
  border: solid 1px $color-blue-border;
}

div.serieslinks ul { margin: 0; }

div.serieslinks li { padding: 0; }

div.serieslinks div.title { margin: 0.5em 0 0.5em 0; }

pre.numbered {
  margin: 0;
  padding: 0.5em;
  float: left;
  margin-right: 0.5em;
  text-align: right;
  color: $color-text-light;
  background-color: $color-yellow-background;
}

div.code {
  border: solid 1px $color-gray-border;
}

div.example {
  border-left: solid 4px $color-gray-border;
  padding-left: 1em;
}

div.figure {
  margin-left: 1.72em;
  padding: 4px;
  color: $color-text-light;
  border: solid 1px $color-gray-border;
  background-color: $color-gray-background;
}

div.figure > div.inner > a.zoom {
  float: right;
}

div.figure > div.inner > div.region > div.contents {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  clear: both;
  text-align: center;
  color: $color-text;
  border: solid 1px $color-gray-border;
  background-color: $color-background;
}

div.list > div.inner > div.title { margin-bottom: 0.5em; }

div.listing > div.inner { margin: 0; padding: 0; }

div.listing > div.inner > div.region > div.desc { font-style: italic; }

div.note {
  padding: 6px;
  border: solid 1px $color-dark-background;
  background-color: $color-gray-background;
}

div.note > div.inner > div.title {
  margin-left: $icons-size-note + 6px;
}

div.note > div.inner > div.region > div.contents {
  margin: 0; padding: 0;
  margin-left: $icons-size-note + 6px;
}

div.note > div.inner {
  margin: 0; padding: 0;
  background-image: url($icons-note);
  background-position: left top;
  background-repeat: no-repeat;
  min-height: $icons-size-note;
}

div.note-bug > div.inner { background-image: url($icons-note-bug); }

div.note-important > div.inner { background-image: url($icons-note-important); }

div.note-tip > div.inner { background-image: url($icons-note-tip); }

div.note-warning > div.inner { background-image: url($icons-note-warning); }

div.note-sidebar {
  float: right;
  max-width: 40%;
  margin-left: 6px;
  padding: 6px;
}

div.note-sidebar > div.inner { background-image: none; }

div.note-sidebar > div.inner > div.title { margin-left: 0px; }

div.note-sidebar > div.inner > div.region > div.contents { margin-left: 0px; }

div.note-plain > div.inner { background-image: none; }

div.note-plain > div.inner > div.title { margin-left: 0px; }

div.note-plain > div.inner > div.region > div.contents { margin-left: 0px; }

div.quote {
  padding: 0;
  min-height: $icons-size-quote;
}

div.quote > div.inner:before {
  float: left;
  content: “;
  font-family: "Century Schoolbook L";
  font-size: $icons-size-quote;
  font-weight: bold;
  line-height: 1em;
  margin: 0; padding: 0;
  height: $icons-size-quote;
  width: $icons-size-quote;
  text-align: center;
  color: $color-dark-background;
}

div.quote > div.inner > div.title {
  margin: 0;
  margin-left: $icons-size-quote;
}

blockquote {
  margin: 0; padding: 0;
  margin-left: $icons-size-quote;
}

blockquote > *:first-child { margin-top: 0; }

div.quote > div.inner > div.region > div.cite {
  margin-top: 0.5em;
  margin-left: $icons-size-quote;
  color: $color-text-light;
}

div.quote > div.inner > div.region > div.cite::before {
  content: '― ';
  color: $color-text-light;
}

div.screen {
  background-color: $color-gray-background;
  border: solid 1px $color-gray-border;
}

ol.steps, ul.steps {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border-left: solid 4px $color-yellow-border;
  -moz-box-shadow: 0 1px 2px $color-gray-border;
  -webkit-box-shadow: 0 1px 2px $color-gray-border;
  box-shadow: 0 1px 2px $color-gray-border;
}

ol.steps .steps {
  padding: 0;
  border: none;
  background-color: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.steps { margin-left: 1.44em; }

li.steps li.steps { margin-left: 2.4em; }

div.synopsis > div.inner > div.region > div.contents,
div.synopsis > div.contents, div.synopsis > pre.contents {
  padding: 0.5em 1em 0.5em 1em;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: $color-blue-border;
  background-color: $color-gray-background;
}

div.synopsis > div.inner > div.region > div.desc { font-style: italic; }

div.synopsis div.code {
  background: none;
  border: none;
  padding: 0;
}

div.synopsis div.code > pre.contents { margin: 0; padding: 0; }

div.table > div.desc { font-style: italic; }

tr.shade {
  background-color: $color-gray-background;
}

td.shade {
  background-color: $color-gray-background;
}

tr.shade td.shade {
  background-color: $color-dark-background;
}


span.app { font-style: italic; }

span.cmd {
  font-family: monospace;
  background-color: $color-gray-background;
  padding: 0 0.2em 0 0.2em;
}

span.cmd span.cmd { background-color: none; padding: 0; }

pre span.cmd { background-color: none; padding: 0; }

span.code {
  font-family: monospace;
  border-bottom: solid 1px $color-dark-background;
}

span.code span.code { border: none; }

pre span.code { border: none; }

span.em { font-style: italic; }

span.em-bold {
  font-style: normal; font-weight: bold;
  color: $color-text-light;
}

pre span.error {
  color: $color-text-error;
}

span.file { font-family: monospace; }

span.gui, span.guiseq { color: $color-text-light; }

span.input { font-family: monospace; }

pre span.input {
  font-weight: bold;
  color: $color-text-light;
}

kbd {
  font-family: inherit;
  font-size: inherit;
  color: $color-text-light;
  background-color: $color-gray-background;
  border: solid 1px $color-gray-border;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px $color-gray-border;
  -webkit-box-shadow: 1px 1px 2px $color-gray-border;
  box-shadow: 1px 1px 2px $color-gray-border;
  margin: 0 0.2em 0 0.2em;
  padding: 0 0.5em 0 0.5em;
  white-space: nowrap;
}

kbd.key-Fn {
  font-weight: bold;
  color: $color-blue-border;
}

span.key a {
  border-bottom: none;
}

a > kbd {
  color: $color-link;
  border-color: $color-blue-border;
}

span.keyseq {
  color: $color-text-light;
  white-space: nowrap
}

span.output { font-family: monospace; }

pre span.output {
  color: $color-text;
}

pre span.prompt {
  color: $color-text-light;
}

span.sys { font-family: monospace; }

span.var { font-style: italic; }


.ui-tile-img .media-controls { display: none; }

span.media-audio, span.media-video { display: inline-block; }

audio, video { display: block; margin: 0; }

div.media > div.inner { display: inline-block; text-align: center; }

div.media-controls {
  min-width: 24em;
  height: 24px;
  margin: 0; padding: 0;
  border-left: solid 1px $color-text;;
  border-right: solid 1px $color-text;;
  border-bottom: solid 1px $color-text;;
  background-color: $color-text-light;
  color: $color-background;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div.media-controls-audio {
  border-top: solid 1px $color-text;;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

button.media-play {
  height: 24px;
  padding: 0 2px 0 2px; line-height: 0;
  float: left;
  background-color: $color-text-light;
  border: none;
  border-right: solid 1px $color-text;;
}

button.media-play:hover, button.media-play:focus {
  background-color: $color-blue-border;
}

button.media-play canvas { margin: 0; }

div.media-range {
  display: inline-block;
  margin: 2px 8px 0 8px;
  padding: 0;
  height: 20px;
}

div.media-time {
  float: right;
  margin: 0;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
}

div.media-time > span {
  padding-right: 8px;
}

span.media-duration {
  font-size: 12px;
  color: $color-dark-background;
  opacity: 0.8;
}

div.media-ttml { margin: 0; padding: 0; }

.media-ttml-pre { white-space: pre; }

.media-ttml-nopre { white-space: normal; }

div.media-ttml-div {
  text-align: left;
  display: none;
  margin: 0; padding: 0;
}

div.media-ttml-p {
  text-align: left;
  display: none;
  margin: 6px auto 0 auto;
  padding: 6px;
  max-width: 24em;
  border: solid 1px $color-yellow-border;
  background-color: $color-yellow-background;
  -moz-box-shadow: 2px 2px 4px $color-gray-border;
  -webkit-box-shadow: 2px 2px 4px $color-gray-border;
  box-shadow: 2px 2px 4px $color-gray-border;
}

div.yelp-data { display: none; }

div.ui-expander > div.inner > div.title span.title,
div.ui-expander > div.inner > div.hgroup span.title {
  cursor: default;
}

div.ui-expander > div.inner > div.title span.title:before,
div.ui-expander > div.inner > div.hgroup span.title:before {
  font-size: 2em;
  font-weight: normal;
  content: "⌃";
  display: inline-block;
  line-height: 0.2em;
  vertical-align: bottom;
  color: $color-link;
}

div.ui-expander-c > div.inner > div.hgroup { border-bottom: none; }

div.ui-expander-e > div.inner > div.title span.title:before,
div.ui-expander-e > div.inner > div.hgroup span.title:before {
  content: "⌄";
  vertical-align: top;
}

div.ui-expander > div.inner > div.title:hover,
div.ui-expander > div.inner > div.hgroup:hover * {
  color: $color-link;
}

div.ui-expander > div.inner > div.hgroup > .subtitle {
  margin-left: 2em;
}

@media only screen and (max-width: 400px) {
  div.links {
    margin-left: 12px;
    margin-right: 12px;
  } 
  li.links { padding: 0; }

  div.body > div.region > div.contents > div.example,
  div.body > div.region > div.contents > div.steps,
  div.body > div.region > div.contents > div.note,
  div.body > div.region > div.sect > div.inner > div.region > div.contents > div.example,
  div.body > div.region > div.sect > div.inner > div.region > div.contents > div.steps,
  div.body > div.region > div.sect > div.inner > div.region > div.contents > div.note {
    margin-left: 0;
    margin-right: 0;
  }

  div.steps > div.inner > div.title {
    margin-left: 18px;
    margin-right: 18px;
  }

  ol.steps, ul.steps {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  div.note-sidebar {
    float: none;
    max-width: none;
    margin-left: inherit;
    margin-right: inherit;
    padding-left: inherit;
    padding-right: inherit;
  }

  div.note-sidebar > div.inner > div.title,
  div.note-sidebar > div.inner > div.region > div.contents {
    margin-left: 12px;
    margin-right: 12px;
  }
}

/*=== This was taken from html.css.syntax in yelp-xsl ===*/
pre.syntax span.function, pre.syntax span.keyword, pre.syntax span.tag {
  color: $color-blue-border;
}

pre.syntax span.string, pre.syntax span.operator {
  color: $color-text-light;
}

/*=== This was taken from html.css.mode (mallard doc version) in yelp-xsl ===*/
div.link-button {
  font-size: 1.2em;
  font-weight: bold;
}

.link-button a {
  display: inline-block;
  background-color: $color-blue-border;
  color: $color-background;
  text-shadow: $color-link 1px 1px 0px;
  border: solid 1px $color-link;
  padding: 0.2em 0.5em 0.2em 0.5em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.link-button a:visited {
  color: $color-background;
}

.link-button a:hover {
  text-decoration: none;
  color: $color-background;
  box-shadow: 1px 1px 1px $color-blue-border;
}

div.link-button a .desc {
  display: block;
  font-weight: normal;
  font-size: 0.83em;
  color: $color-gray-background;
}

div.floatleft {
  float: left;
  margin-right: 1em;
}

div.floatright {
  float: right;
  margin-left: 1em;
}

div.floatstart {
  float: left;
  margin-right: 1em;
}

div.floatend {
  float: right;
  margin-left: 1em;
}

div.title-heading h1, div.title-heading h2, div.title-heading h3,
div.title-heading h4, div.title-heading h5, div.title-heading h6 {
  font-size: 1.72em;
  font-weight: bold;
}

ul.links-heading > li { margin: 2em 0 2em 0; padding: 0; }

div.links-heading > a { font-size: 1.72em; font-weight: bold; }

ul.links-heading > li > div.desc { margin-top: 0.5em; }

div.mouseovers {
  width: 250px;
  height: 200px;
  text-align: center;
  margin: 0;
  float: left;
}

ul.mouseovers li { margin: 0; }

ul.mouseovers a {
  display: inline-block;
  padding: 4px 1.2em 4px 1.2em;
  border-bottom: none;
}

ul.mouseovers a:hover {
  text-decoration: none;
  background: $color-blue-background;
}

ul.mouseovers a img {
  display: none;
  position: absolute;
  margin: 0; padding: 0;
}

@media only screen and (max-width: 400px) {
  ul.mouseovers a {
    display: block;
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
  }

  div.mouseovers { display: none; }
}

div.ui-screen {
  display: none;
  position: fixed;
  margin: 0;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: $color-text-light;
  opacity: 0.6;
}

div.ui-overlay {
  display: none;
  position: fixed;
  text-align: center;
  left: 0;
  top: 20px;
  width: 100%;
  z-index: 10;
}

div.ui-overlay > div.inner {
  display: inline-block;
  padding: 8px;
  background-color: $color-gray-background;
  border: solid 1px $color-text-light;
  box-shadow: 0 2px 4px $color-text-light;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: left;
}

div.ui-overlay > div.inner > div.title { margin-top: -4px; }

a.ui-overlay-close {
  display: block;
  float: right;
  width: 23px; height: 23px;
  font-size: 18px; line-height: 23px;
  font-weight: bold;
  margin-top: -28px;
  margin-right: -24px;
  padding: 1px 2px 3px 2px;
  text-align: center;
  border: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: $color-text;
  background-image: -moz-radial-gradient(50% 30%, circle farthest-corner, $color-text-light, $color-text);
  background-image: radial-gradient(50% 30%, circle farthest-corner, $color-text-light, $color-text);
  background-image: -webkit-radial-gradient(50% 30%, circle farthest-corner, $color-text-light, $color-text);
  border: 3px solid $color-background; 
  color: $color-background;
  box-shadow: 0 2px 2px $color-text;
  text-shadow: 0 2px 2px $color-text;
}

a.ui-overlay-close:hover {
}

div.ui-tile {
  display: inline-block;
  vertical-align: top;
  clear: both
}

div.region > div.ui-tile {
  margin-top: 0;
  margin-bottom: 1em;
}

div.ui-tile:first-child { margin-top: 1em; }

div.ui-tile > a {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 1em;
  padding: 1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

div.ui-tile > a {
  border: solid 1px $color-gray-background;
}

div.ui-tile > a:hover {
  border: solid 1px $color-blue-background;
  box-shadow: 0 1px 2px $color-blue-border;
}

div.ui-tile > a > * { display: block; }

div.ui-tile-side > a > * {
  display: inline-block;
  vertical-align: top;
}

div.ui-tile-side > a > span.ui-tile-text {
  margin-left: 1em;
}

div.ui-tile > a > span.ui-tile-text > span.title {
  display: block;
  margin-top: 0.5em;
  font-weight: bold;
}

div.ui-tile-side > a > span.ui-tile-text > span.title { margin-top: 0; }

div.ui-tile > a > span.ui-tile-text > span.desc {
  display: block;
  margin: 0.2em 0 0 0;
  color: $color-text-light;
}

span.ui-tile-img { text-align: center; }

div.links-ui-hover {
  text-align: center;
  margin: 0;
  float: left;
  margin-right: 1.2em;
  overflow: hidden;
}

ul.links-ui-hover li { margin: 0; }

ul.links-ui-hover a {
  display: block;
  padding: 4px 1.2em 4px 1.2em;
  border-bottom: none;
}

ul.links-ui-hover a:hover {
  text-decoration: none;
  background: $color-blue-background;
}

span.links-ui-hover-img {
  display: none;
  position: absolute;
  margin: 0; padding: 0;
  overflow: hidden;
  background: $color-blue-background;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  ul.links-ui-hover a {
    display: block;
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
  }

  div.links-ui-hover { display: none; }
}

div.links-grid {
  display: inline-block;
  clear: both;
  margin-top: 1em;
  width: 30%;
  margin-right: 2%;
  vertical-align: top;
}

div.links-grid-link {
  margin: 0;
  font-weight: bold;
}

div.links-grid > div.desc {
  margin: 0;
  color: $color-text-light;
}

@media only screen and (max-width: 400px) {
  div.links-grid {
    width: 47%;
  }
}

div.links-norwich {
  width: 900px;
}

div.links-norwich-primary {
  float: left;
  vertical-align: top;
  margin: 0; padding: 0;
}

div.links-norwich-big {
  vertical-align: top;
  display: inline-block;
  background: $color-blue-background;
  background: radial-gradient(ellipse 800px 1200px at 100% 20px, $color-blue-background, $color-blue-border);
  margin: 0 20px 20px 0;
}

div.links-norwich-big + div.links-norwich-big {
  background: $color-yellow-background;
  background: radial-gradient(ellipse 800px 1200px at 100% 20px, $color-yellow-background, $color-yellow-border);
}

div.links-norwich-big a {
  display: block;
  width: 230px;
  height: 500px;
  height: 320px;
  padding: 9px;
  font-size: 1.2em;
  color:  $color-text;
  border: solid 1px $color-blue-border;
  background-repeat: no-repeat;
  background-position: right -80px bottom -80px;
}

div.links-norwich-big a:hover {
  border: solid 1px $color-blue-border;
  box-shadow: 2px 2px 2px $color-blue-border;
}

div.links-norwich-big a span.title {
  font-size: 1.2em;
  font-weight: bold;
}

div.links-norwich-big a .desc {
  color:  $color-text;
  font-weight: normal;
}

div.links-norwich-secondary {
  vertical-align: top;
  margin: 0; padding: 0;
}

div.links-norwich-small {
  display: inline-block;
  vertical-align: top;
  background: $color-gray-background;
  margin: 0 20px 20px 0;
}

div.links-norwich-small a {
  display: block;
  width: 140px;
  height: 140px;
  padding: 9px;
  font-weight: bold;
  color:  $color-text;
  border: solid 1px $color-gray-border;
  background-repeat: no-repeat;
  background-position: right 4px bottom 4px;
}

div.links-norwich-small a:hover {
  border: solid 1px $color-gray-border;
  box-shadow: 2px 2px 2px $color-blue-border;
}

@media only screen and (max-width: 900px) {
  div.links-norwich {
    width: 720px;
  }
}

@media only screen and (max-width: 720px) {
  div.links-norwich {
    width: 540px;
  }
}

@media only screen and (max-width: 540px) {
  div.links-norwich {
    width: 100%;
  }

  div.links-norwich-big {
    width: 100%;
    margin-right: 0;
  }

  div.links-norwich-big a {
    width: auto;
  }
}

div.links-twocolumn {
  display: inline-block;
  width: 48%;
  margin-top: 0;
  margin-right: 1%;
  vertical-align: top;
}

@media only screen and (max-width: 400px) {
  div.links-twocolumn {
    width: 100%;
    margin-right: 0;
  }
}

div.links .desc a {
  color: inherit;
}

div.links .desc a:hover {
  color: $color-link;
}

a.bold { font-weight: bold; }

div.linkdiv { margin: 0; padding: 0; }

a.linkdiv {
  display: block;
  margin: 0;
  padding: 0.5em;
  border-bottom: none;
}

a.linkdiv:hover {
  text-decoration: none;
  background-color: $color-blue-background;
}

a.linkdiv > span.title {
  display: block;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: inherit;
}

a.linkdiv > span.desc {
  display: block;
  margin: 0.2em 0 0 0;
  color: $color-text-light;
}

span.linkdiv-dash { display: none; }

@media only screen and (max-width: 400px) {
  div.linkdiv {
    margin-left: -12px;
    margin-right: -12px;
  }

  div.linkdiv a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

div.comment {
  padding: 0.5em;
  border: solid 2px $color-red-border;
  background-color: $color-red-background;
}

div.comment div.comment {
  margin: 1em 1em 0 1em;
}

div.comment div.cite {
  margin: 0 0 0.5em 0;
  font-style: italic;
}

div.tree > div.inner > div.title { margin-bottom: 0.5em; }

ul.tree {
  margin: 0; padding: 0;
  list-style-type: none;
}

li.tree { margin: -2px 0 0 0; padding: 0; }

li.tree div { margin: 0; padding: 0; }

ul.tree ul.tree {
  margin-left: 1.44em;
}

div.tree-lines ul.tree { margin-left: 0; }

span.hi {
  background-color: $color-yellow-background;
}

div.facets {
  display: inline-block;
  padding: 6px;
  background-color: $color-yellow-background;
  border: solid 1px $color-blue-border;
} 
div.facet {
 vertical-align: top;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: 1em;
}

div.facet div.title { margin: 0; }

div.facet li {
  margin: 0; padding: 0;
  list-style-type: none;
}

div.facet input {
  vertical-align: middle;
  margin: 0;
}

dt.gloss-term {
  margin-top: 1.2em;
  font-weight: bold;
  color: $color-text-light;
}

dt.gloss-term:first-child, dt.gloss-term + dt.gloss-term { margin-top: 0; }

dt.gloss-term + dd { margin-top: 0.2em; }

dd.gloss-link {
  margin: 0 0.2em 0 0.2em;
  border-left: solid 4px $color-blue-border;
  padding-left: 1em;
}

dd.gloss-def {
  margin: 0 0.2em 1em 0.2em;
  border-left: solid 4px $color-gray-border;
  padding-left: 1em;
}

a.gloss-term {
  tabindex: 0;
  border-bottom: dashed 1px $color-blue-border;
}

a.gloss-term:hover {
  text-decoration: none;
  border-bottom-style: solid;
}

span.gloss-desc {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
  max-width: 24em;
  color: $color-text-light;
  background-color: $color-yellow-background;
  border: solid 1px $color-yellow-border;
  -moz-box-shadow: 2px 2px 4px $color-gray-border;
  -webkit-box-shadow: 2px 2px 4px $color-gray-border;
  box-shadow: 2px 2px 4px $color-gray-border;
}

.if-if { display: none; }
.if-choose, .if-when, .if-else { margin: 0; padding: 0; }
.if-choose > .if-when { display: none; }
.if-choose > .if-else { display: block; }
.if-if.if__not-target-mobile { display: block; }
.if-choose.if__not-target-mobile > .if-when { display: block; }
.if-choose.if__not-target-mobile > .if-else { display: none; }

@media only screen and (max-width: 400px) {
  .if-if.if__target-mobile { display: block; }
  .if-if.if__not-target-mobile { display: none; }
  .if-choose.if__target-mobile > .if-when { display: block; }
  .if-choose.if__target-mobile > .if-else { display: none; }
  .if-choose.if__not-target-mobile > .if-when { display: none; }
  .if-choose.if__not-target-mobile > .if-else { display: block; }
}

div.version {
  position: absolute;
  right: 12px;
  opacity: 0.2;
  margin-top: -1em;
  padding: 0.5em 1em 0.5em 1em;
  max-width: 24em;
  border: solid 1px $color-gray-border;
  background-color: $color-yellow-background;
}

div.version:hover { opacity: 0.8; }

div.version p.version { margin-top: 0.2em; }

span.status {
  font-size: 0.83em;
  font-weight: normal;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: $color-text-light;
  border: solid 1px $color-red-border;
  background-color: $color-yellow-background;
}

span.status-stub, span.status-draft, span.status-incomplete, span.status-outdated { background-color: $color-red-background; }

/*=== Styling from html.css.custom in mal2html ===*/
body {
  padding: 0;
  background-color: $color-background;
  max-width: 100%;
}

div.page {
  border: none;
  margin: 0;
}

div.header {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto 1em auto;
}

div.body, div.footer {
  margin: 0;
  max-width: 60em;
}

div.code {
  -webkit-box-shadow: 0px 0px 4px $color-gray-border;
}

div.code:hover {
  -webkit-box-shadow: 0px 0px 4px $color-blue-border;
}

div.synopsis div.code, div.synopsis div.code:hover { -webkit-box-shadow: none; }

div.trails {
  margin: 0;
  padding: 0.2em 12px 0 12px;
  background-color: $color-gray-background;
  border-bottom: solid 1px $color-gray-border;
}

div.trail {
  font-size: 1em;
  margin: 0 1em 0.2em 1em;
  padding: 0;
}

@media only screen and (max-width: 400px) {
  div.trails {
    padding-left: 6px;
    padding-right: 6px;
  }

}

a.trail { color:  $color-text-light; }

a.trail:hover { text-decoration: none; color:  $color-link; }

.current-location-hash div.hgroup {
  background-color: $color-gray-background;
}

/*=== Styling from yelp.css.custom in mal2html ===*/
a.linkdiv:hover {
  outline: solid 1px $color-blue-background;
  background: -webkit-gradient(linear, left top, left 80, from($color-blue-background), to($color-background));
}

a.fullsearch {
  display: block;
  text-align: center;
  max-width: 20em;
  margin: 0 auto 1em auto;
  pading: 0.2em;
  background-color: $color-yellow-background;
  border: solid 1px $color-yellow-border;
}

a.fullsearch:hover {
  text-decoration: none;
  border: solid 1px $color-blue-border;
}

div.version {
  margin: -1em -12px 1em -12px;
  padding: 0.5em 12px 0.5em 12px;
  position: relative;
  left: auto; right: auto;
  opacity: 1.0;
  max-width: none;
  border: none;
  border-bottom: solid 1px $color-gray-border;
  background-color: $color-yellow-background;
}

div.version:hover { opacity: 1.0; }
