/*!
 * Style for eos-help-center
 */

@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
@import url(utilities.css);
@import url(fonts.css);

html,
body {
    font-size: 16px;
    height: 100%;
    min-height: 200px;
    min-width: 40em;
    background-color: #000;
}

.wraper {
    height: 100%;
    overflow-y: auto;
}

#second-nav,
#second-nav .left,
#second-nav .right {
    background-color: #fff;
}

#accordion #second-nav {
    border: 1px solid #000;
}

#wrap-article {
    height: calc(100% - 4em);
    margin: 2em .5em 2em 0;
    overflow: hidden;
    width: calc(100% - 33.8em);
    background-color: #fff;
}

#wrap-article.small {
    padding-right: 0;
    margin: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 16rem);
}

#wrap-article #content-body {
    height: calc(100% - 2em);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1em 0;
    position: relative;
    z-index: 2;
}

#content-nav {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 31rem;
}

#content-nav.small,
#content-nav.small #main-nav {
    width: 14rem;
}

#main-nav {
    height: 100%;
    padding: 0;
    position: relative;
    width: 14rem;
    z-index: 10;
    background-color: #fff;
}

#main-nav #accordion {
    margin-top: 0;
}

#main-nav #wrap-nav {
    margin: 0;
    padding: 0 1.5em;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-nav h2 {
    margin: 0;
    padding: 1em .5em .3em;
}

#main-nav a {
    display: block;
    padding: 1em 1.5em;
}

#main-nav li {
    clear: both;
    cursor: pointer;
    font-size: .875rem;
    margin-left: 0;
    margin-top: 0;
}

#main-nav li > span{
    padding: .7em 0;
    display: block;
}

#wrap-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav h3 {
    font-size: 1.0625rem;
    outline: none;
    padding: .7em 0;
    margin: 0;
    clear: both;
    cursor: pointer;
    font-weight: normal;
    width: 100%;
}

#main-nav h3.ui-accordion-header-active {
    margin-left: -1.5em;
    padding: .7em 1.5em;
    width: calc(100% + 2.8em);
}

#main-nav h3 + div {
    margin-left: -1.5em;
    margin-top: 0;
    padding: 0 1em;
    width: calc(100% + 3.1em);
}

#accordion li a {
    display: block;
    padding: 0;
    text-decoration: none;
}

#accordion li.active {
    margin-left: -1.7em;
    width: calc(100% + 3.5em);
}

#accordion li.active > span {
    padding: .7em 1.65em;
}

#accordion li.none {
    border-bottom: 1px solid transparent;
}

#accordion li > nav #wrap-nav {
    box-shadow: none;
    padding: 0 0 0 1em;
}

#accordion li > nav .left {
    top: .5em;
}

#accordion li > nav h3,
#accordion li > nav li,
#accordion li > nav li:first-child {
    padding: .5em .9em .5em 0;
    border:0;
}

#accordion .box-float h2 {
    font-size: 18px;
    margin: 0;
    padding: 1em 1.5em;
}

#load-container,
#content-article {
    margin: 0;
    height: 100%;
    text-align: center;
}

@media (min-width:800px){

    #second-nav {
        margin: 2em 0;
        padding: 0;
        width: 17.3em;
        height: calc(100% - 4em);
        position: relative;
        left: -18em;
    }

    #second-nav #wrap-nav {
        padding: 0 1.2em;
        margin: 1.2em 0;
        height: calc(100% - 2.5em);
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    #second-nav h3 {
        outline: none;
        padding: 0 0 .6em 0;
        margin: 0;
        font-size: .7em;
        font-weight: normal;
        line-height: 1.5em;
        width: 100%;
        cursor: pointer;
    }

    #second-nav .link-container {
        padding-bottom: .5em;
    }

    #second-nav li{
        margin: 0 0 .4em 0;
        line-height: 1em;
    }

    #second-nav h3.line{
        padding-top: 1.7em;
        margin-top: 1.3em;
    }

    #second-nav .left h3.line,
    #second-nav .left .content_links{
        margin-top: 0;
    }

    #second-nav li a,
    #accordion li > nav li a {
        line-height: 1.3em;
        font-size: .8em;
        display: inline-block;
    }

    #accordion li > nav li a {
        font-size: 1.3em;
    }

    #second-nav .left,
    #second-nav .right,
    #accordion li > nav .left,
    #accordion li > nav .right {
        width: 16em;
        min-height:100%;
        margin: 0;
        position: absolute;
        left:0;
        padding-left: 1.3em;
        z-index: 2;
        overflow: hidden;
    }

    #second-nav .right,
    #accordion li > nav .right {
        z-index: 1;
        padding-left: .7em;
    }

    #second-nav .border,
    #accordion li > nav .border {
        height: calc(100% - 4em);
        min-height: 9.3em;
        border-right: 10px solid #da9c00;
        width: 0%;
        float: left;
        margin: -1.2em 0 0 -0.7em;
        border-radius: 0 .5em .5em 0;
        position: fixed;
        display: none;
    }

    #accordion li > nav .border{
        border-right: 5px solid #da9c00;
        margin-left: -1em;
    }

    #second-nav .right img,
    #accordion li > nav .right img {
        position: fixed;
        cursor: pointer;
        margin-left: .7em;
    }

    #accordion li > nav .border img {
        top: 1em;
        left: 1em;
        zoom: 70%;
    }

    #second-nav .right .submenu-content {
        margin-left: 2em;
        margin-top: 0;
    }

    #accordion li > nav .right .submenu-content {
        margin-left: 1em;
    }

}

@media (max-width:800px){
    #second-nav {
        margin: 0;
        padding: 0 0 1rem 0;
        width: calc(100% - .8rem);
    }

    #second-nav #wrap-nav {
        padding: 0 1.2em;
        margin: 0;
    }

    #second-nav h3 {
        outline: none;
        padding: 0 0 .6em 0;
        margin: 0;
        font-weight: normal;
        font-size: .7rem;
        line-height: 1.5em;
        width: 92%;
        cursor: pointer;
    }

    #second-nav .link-container {
        padding-bottom: .6em;
        margin-top:0;
    }

    #second-nav .left li{
        margin: 0 0 .5em 0;
        padding: 0!important;
        line-height: 1em;
    }

    #second-nav .right li{
        margin: 0;
        line-height: 1em;
        padding: .3em .9em .3em 0;
    }

    #second-nav .right li:last-child{
        margin-bottom: 1em;
    }

    #second-nav li:last-child{
        padding-bottom: .3em;
    }

    #second-nav h3.line{
        padding-top: 1.5em;
    }

    #second-nav h3.first{
        background: none;
    }

    #second-nav li a,
    #accordion li > nav li a {
        line-height: 1em;
        font-size: .9em;
        display: inline-block;
        padding: 0 .9em .5em 0;
    }

    #accordion li > nav li a {
        font-size: .75rem;
    }

    #second-nav .left,
    #second-nav .right,
    #accordion li > nav .left,
    #accordion li > nav .right {
        width: 100%;
        margin: 0;
        position: absolute;
        left:0;
        padding-left: .5rem;
        z-index: 2;
        overflow: hidden;
    }

    #second-nav .right,
    #accordion li > nav .right {
        z-index: 1;
    }

    #accordion li > nav .right {
        margin-left: .5rem;
    }

    #second-nav .border,
    #accordion li > nav .border {
        height: 100%;
        width: 0%;
        float: left;
        margin-left: -1.2em;
        margin-top: 0;
        border-radius: 0 .5em .5em 0;
        position: relative;
        display: none;
        float: left;
    }

    #accordion li > nav .border{
        margin-left: -1.8em;
    }

    #second-nav .right img,
    #accordion li > nav .right img {
        position: absolute;
        top: 0.9em;
        left: .6rem;
        cursor: pointer;
    }

    #accordion li > nav .border img {
        top: 1em;
        left: 1em;
        zoom: 70%;
    }

    #second-nav .right .submenu-content {
        margin-left: 2em;
        margin-top: 0;
        float: left;
    }

    #accordion li > nav .right .submenu-content {
        margin-left: 1em;
        margin-top: .5em;
    }

    #accordion li > nav .left .content_links {
        margin-left: 1em;
        margin-top:0;
    }
}
