/*!
 * Style for eos-help-center
 */

@import url(assets/css/bootstrap.min.css);
@import url(assets/css/utilities.css);
@import url(assets/css/fonts.css);
@import url(assets/css/temp_kevin.css);

html,
body {
    font-size: 16px;
    height: 100%;
    min-height: 200px;
    min-width: 25em;
    background-color: #EAE8E4;
}

a{
    transition: 0.1s ease-in;
}

.page {
    height: 100%;
    overflow-y: auto;
    margin-left:18em;
    padding:30px;
}

.header{}

.trail{}

.nav-min{
    display:none;
    overflow:hidden;
    visibility: none;
}
.nav-main{
    float:left;
    height:100%;
    width:18em;
    background: #F8F7F4;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15), 0px 1px 2px 0px rgba(0,0,0,0.50);
}

.nav-main h2 {
    margin: 0;
    padding: 1em .5em .3em;
}

.nav-main ul {
    margin:0;
    padding:0;
    list-style: none;
}

.nav-main li {
    border-top: 1px solid rgba(255,255,255,0.50);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    clear: both;
    cursor: pointer;
}

.nav-main a {
    display: block;
    padding: 1em 1.5em;
    color:black;
}

.nav-main a:hover {
    border-right: 3px solid rgba(217,213,208,0.50);
    box-shadow: 0px 1px 0px 0px #FFFFFF;
    background: #EAE8E4;
    text-decoration: none;
}


/* Primary Navigation links highlight based on page ID */
#sec-1 .nav-main li.sec-2 {
    color:red;
    background:red;
}

.body{
    font-family: Lato-Regular;

}

h1.title{
    font-family: Lato-Light;
    font-size: 24px;
    color: #2A2A2A;
    line-height: 30px;
    letter-spacing: 0px;
    border-bottom: 1px solid #C9C9C9;
    padding-bottom:.75em;
    margin-bottom:.75em;
}




.contents{

}

#view{

}

.sect,
.contents{
    display:block;
    border-radius: 6px;
    box-shadow: 0px 2px 8px 0px rgba(3,3,3,0.20);
    margin-bottom:1em;
    background-color: #fff;

}
.sect{
    margin-top:4em;
}

.region .contents{
    padding:30px;
}

.inner .region .contents{
    border-radius: 0;
    box-shadow: 0px;
    margin:0em;
    padding:30px;
}


.hgroup{
}

h2.title{
    background-image: linear-gradient(-179deg, #FF9F00 0%, #E58E00 100%);
    font-family: Lato-Regular;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.10);
    padding:1em;
    margin:-3.1em 0 1em;
    letter-spacing: 1px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0px 2px 8px 0px rgba(3,3,3,0.20);
    float:left;
    width:100%;
}

.links-twocolumn{

}
.topiclinks{margin:-30px;}

a.linkdiv{
    display:block;
    padding:1em;
    text-decoration:none;
    border-top: 1px solid rgba(255,255,255,0.50);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
a.linkdiv:hover{
    padding-right:.85em;
    box-shadow: 0px 0px 10px 0px rgba(3,3,3,0.20);
    border-bottom:1px solid #ccc;
}
a.linkdiv:hover .title{
    color:#000;
}

.linkdiv .title{
    padding-right:1em;
    background: url('assets/img/arrow-right_dark.png') right center no-repeat;
    display:block;
    color:#333;
    text-shadow: 0px 1px 1px rgba(1,1,2,0.20);
}
.linkdiv .linkdiv-dash{
    display:none;
}

.linkdiv .desc{
    color:#6C6C6C;
    padding-right:2em;
    display:block;

}
.linkdiv .app{}

.links{
}

.links-grid{
    display:block;
}

.links-grid-link{
    display:block;
    float:left;
    border:1px solid;
    color:red;
    width:100%;

}

.links-grid .desc{
    color:#6C6C6C;
    padding-right:2em;
    display:block;
}

div.link{}
span.link{}

.footer{
    font-family: Lato-Regular;
}

.sect.sect-links{
    border-radius: 6px 6px 0 0 ;
    font-family: Lato-Regular;
    margin-bottom: 0;
    margin-top: 15px;
    width:100%;
}

.sect.sect-links .region{
    box-shadow: none;
}

.sect.sect-links .links.guidelinks,
.sect.sect-links .links.seealsolinks{
    position:relative;
    width: 50%;
    float:left;
}

.sect.sect-links h2{
    font-family: Lato-Regular;
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
}

.sect.sect-links .contents{
    padding: 30px 30px 0 30px;
    box-shadow: none;
}

.footer .sect{
    padding:30px;
}

.footer .ui-expander{
    padding-top: 0px;
    box-shadow: 0px 5px 8px 0px rgba(3, 3, 3, 0.2);
    border:none;
    border-radius: 0 0 6px 6px;
    margin-top: -0px;
    position: relative;
    width:100%;
}

.footer .ui-expander h2{
    background: url(assets/img/arrow-right_dark.png) right center no-repeat;
    cursor: pointer;
    padding-right: 15px;
    font-size: 15px;
    text-align: right;
}

.footer .sect .inner,
.footer .sect .inner .region,
.footer .sect .inner .contents,
.footer .sect .inner .contents .contents{
    padding:0px;
    margin:0;
    box-shadow:none;

}

.yelp-title-expanded{
    display:block;
    border:1px solid;
}

.yelp-title-collapsed{
    display:none;
    border:1px solid;

}

.ui-expander-e .yelp-title-collapsed{
    display:none;
}
.ui-expander .yelp-title-expanded{
    display:none;
}

h1.title > span.title {
    font-family: Lato-Regular;
    font-size: 24px;
}

.inner .region .contents {
    padding: 1rem;
}

ol.steps {
    padding: 0 1.2rem;
    counter-reset: numList;
}

ol.steps li.steps {
    padding-left: 3rem;
    color: #fff;
    font-size: 13px;
    min-height: 60px;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    margin: 1rem 0;
}

ol.steps li.steps:last-child {
    border-bottom: none;
}

ol.steps li.steps > p {
    padding-top: 10px;
}

ol.steps li.steps:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -.2rem;
    font: bold 12px sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px #fff;
    line-height: 2.28rem;
    width: 39px;
    height: 37px;
    background: url(assets/img/li_circle_grey.jpg) no-repeat;
    border-radius: 999px;
}

a:hover, a:focus {
    text-decoration: none;
}

p, div {
    color: #6b6b6b;
    font-family: Lato-Regular;
    font-size: 13px;
    line-height: 20px;
}

.body .media.media-image + div.steps,
.body .media.media-image {
    float: left;
    width: 50%;
    position: relative;
    z-index: 100;
    margin-top: 10px;
}

.sect div.steps,
.sect .media.media-image {
    width: 100%;
}

.sect .contents .contents {
    box-shadow: none;
}

.note {
    width: 100%;
    clear: both;
    margin-bottom: 2rem;
    top: 1rem;
    position: relative;
}

.body .media.media-image {
    float: right;
    clear: both;
    margin-top: 0;
    background-color: #f6f5f3;
}

.body .media.media-image + div.steps:before {
    background-color: #fff;
    bottom: -.5rem;
    content: "\0000";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: -.5rem;
    z-index: -1;
}

.body .media.media-image + div.steps:after {
    background-color: transparent;
    border-radius: 10px / 100px;
    bottom: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    content: "\0000";
    display: block;
    left: 50%;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: -2;
}

.sect .media.media-image + div.steps::after,
.sect .media.media-image + div.steps:before {
    box-shadow: none;
}

.region .contents {
    display: table;
    width: 100%;
    border-radius: 6px!important;
}

.region .contents img,
.region .contents video {
    max-width: 100%;
}

.note .contents {
    display: block;
}

.sect .contents {
    box-shadow: none;
    padding: 0;
    background-color: #fff;
}

.sect ol.steps,
.sect .region .region,
.ui-overlay .contents {
    box-shadow: none;
}

.sect .region {
    box-shadow: 0px 2px 8px 0px rgba(3,3,3,0.20);
}

@media (max-width:800px){
    .nav-main{
        display:none;
    }
    .nav-min{
        display:block;
    }
    .page{
        margin-left:0;
    }

}

@media (max-width:1000px){

    .sect.sect-links .links.guidelinks,
    .sect.sect-links .links.seealsolinks{
        width: 100%;
        float:none;
    }

    .footer .ui-expander{
        margin-top:-36px;
    }
}

@media (max-width:800px){
    .nav-main{
        display:none;
    }
    .nav-min{
        display:block;
    }
    .page{
        margin-left:0;
    }

}

@media (min-width:1000px){
    div.sect{
        width: 49%;
        float: left;
        display: list-item;
    }

    .footer div.sect:nth-child(2n+1){
        margin-left:0px;
    }

    div.sect:nth-child(2n+1){
        float: right;
    }

}

 .contents .note{
    padding-left: 4.5rem;
    box-shadow: 0px 2px 8px 0px rgba(3,3,3,0.20);
    border-radius: .2rem;
    background: #f6f5f3;
    margin-bottom: 2rem;
}

.contents .note .inner{
    position: relative;
    background: none;
}

.contents .note .inner .region{
    background: none;
    box-shadow: none;
}

.contents .note .inner div.title{
    padding:0.5rem 1.9rem;
    background: none;
    box-shadow:none;
    font-size: 1rem;
    font-weight: bold;
}

.contents .note .inner span.title{
    font-size: 1rem;
}

.contents .note .inner .region .contents{
    background: none;
    box-shadow:none;
    font-size: 1rem;
    padding:0.5rem 1.9rem;
}

.contents .note .inner:before {
    border-radius: .5rem 0 0 .5rem ;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4.5rem;
    content: " ";
    left: -4.5rem;
    background: url('../HTML-EN/assets/img/note.png') no-repeat center 10px white;
    z-index: 2;
}

.contents .note-tip .inner:before {
    background: url('../HTML-EN/assets/img/note-tip.png') no-repeat center 10px white;
}

.contents .note-warning .inner:before {
    background: url('../HTML-EN/assets/img/note-warning.png') no-repeat center 10px white;
}

.contents .note-important .inner:before {
    background: url('../HTML-EN/assets/img/note-important.png') no-repeat center 10px white;
}

.contents .note .inner:after {
    background-color: transparent;
    border-radius: 10px / 100px;
    bottom: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    content: "\0000";
    display: block;
    left: -5%;
    position: absolute;
    right: 100%;
    top: 10px;
    z-index: 1;
}
